<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    LOGO DAVIVIENDA
  </div>
  <div class="row d-flex justify-content-end">
    005 UNIDAD DE VEHICULO PRODUCTIVO
  </div>
  <div class="row d-flex justify-content-end">
    CIUDAD, FECHA
  </div>
  <div class="row d-flex justify-content-start">
    CIUDAD, FECHA
  </div>
  Apreciados señores,
  <br />
  <b> {{colResumenTabla3.v_nombrepro}}</b>
  <br />
  {{colResumenTabla3.v_numdirpro}},
  {{colResumenTabla3.v_depdes}}

  <div class="row text-center">
    <b> Asunto:</b>
    Solicitud Crédito/Leasing Vehículo No.
    <b> XXXXX </b>
    - NOMBRE DE LA PERSONA
  </div>
  <p>Reciba un cordial saludo de Davivienda. Con el ánimo de contribuir en la
    construcción del patrimonio de los colombianos, queremos informarle que la
    solicitud de Leasing de Vehículo de nuestro clienteXXXXXXXXXXXXXXXXXXXXXXXXX
    ha sido aprobada y tendrá una vigencia
    <span style="color:blue"> de ciento veinte (120) </span>
    días calendario, contados después de enviada esta comunicación al cliente.
    <br />
    A continuación relacionamos los requisitos de la aprobación del crédito:
  </p>

  <h4>Información General:
  </h4>
  <table class="table">
    <tbody>
      <tr>
        <td>Valor del vehículo</td>
        <td><b>{{colResumenTabla4.v_vehiculo}}</b></td>
      </tr>
      <tr>
        <td>Canon Extraordinario </td>
        <td><b>{{colResumenTabla4.v_canoext}}</b></td>
      </tr>
      <tr>
        <td>Valor a financiar</td>
        <td><b>{{colResumenTabla4.v_valfinan}}</b></td>
      </tr>
      <tr>
        <td>Plazo</td>
        <td><b>{{colResumenTabla4.v_plazo}}</b></td>
      </tr>
      <tr>
        <td>Plazo Mínimo</td>
        <td><b>{{colResumenTabla4.v_plamin}} meses</b></td>
      </tr>
      <tr>
        <td>Plazo Máximo</td>
        <td><b>{{colResumenTabla4.v_plamax}} meses</b></td>
      </tr>
      <tr>
        <td>Tipo de Financiación</td>
        <td><b>{{colResumenTabla4.v_modcre}} meses</b></td>
      </tr>
      <tr>
        <td>Tipo de Servicio
        </td>
        <td><b>{{colResumenTabla4.v_matric}}</b></td>
      </tr>
      <tr>
        <td>Descripción del Activo </td>
        <td><b>{{colResumenTabla4.v_desact}}</b></td>
      </tr>
      <tr>
        <td>Garantía Adicional 1</td>
        <td><b>{{colResumenTabla4.v_garan1}}</b></td>
      </tr>
      <tr>
        <td>Garantía Adicional 2</td>
        <td><b>{{colResumenTabla4.v_garan2}}</b></td>
      </tr>
      <tr>
        <td>Garantía Adicional 3</td>
        <td><b>{{colResumenTabla4.v_garan3}}</b></td>
      </tr>
      <tr>
        <td>Garantía Adicional 4</td>
        <td><b>{{colResumenTabla4.v_garan4}}</b></td>
      </tr>
      <tr>
        <td>Garantía Adicional 5</td>
        <td><b>{{colResumenTabla4.v_garan5}}</b></td>
      </tr>
    </tbody>
  </table>

</div>