<html>
  <head>
    <title>Oracle Form seguro Report</title>
  </head>
  <body>
    <div class="layout" name="layout_54ea85c5-f8a3-42c7-8229-6e195343615f">
      <div class="section" name="header">
        <div class="body" name="body_88fc058f-61c9-4d6f-beee-96b2bade4477">
        </div>
      </div>
      <div class="section" name="main">
        <div
          class="margin"
          name="margin_e36eae0c-1caa-4f41-b83b-db0c6c4cf92f"
          style="grid-template-columns: 138fr 52fr 213fr 56fr 85fr 42fr 64fr; grid-template-areas: 'B_31 . R_2 B_28 PAG2 B_27 PAG1'
                'B_23 . R_2 B_26 FECHA1 . .'
                'B_29 . B_30 B_24 HORA1 . .'
                ' . . . B_25 . . .'
                ' . . B_16 B_15 . . .'
                'B_19 B_18 B_17 B_14 . B_12 B_13'
                ; display: grid;"
        >
          <div
            class="text"
            name="B_31"
            style="grid-area: B_31; text-align: start;"
          >
            <div
              class="text-segment"
              name="textsegment_d252ed1a-965d-47de-aa5c-19bf88812481"
              style="font-weight: bold; font-size: 10px; font-family: Courier New;"
            >BANCO DAVIVIENDA S.A.
            </div>
          </div>
          <div
            class="text"
            name="B_30"
            style="grid-area: B_30; text-align: center;"
          >
            <div
              class="text-segment"
              name="textsegment_deb372d6-15d8-4cbf-b42c-5cf2487c1782"
              style="font-weight: bold; font-size: 10px; font-family: Courier New;"
            >ACTIVOS SIN SEGURO
            </div>
          </div>
          <div
            class="text"
            name="B_29"
            style="grid-area: B_29; text-align: start;"
          >
            <div
              class="text-segment"
              name="textsegment_c08e8f96-4ad3-4813-a032-5ac913d6fdd5"
              style="font-weight: bold; font-size: 10px; font-family: Courier New;"
            >ACTIVOS
            </div>
          </div>
          <div
            class="text"
            name="B_28"
            style="grid-area: B_28; text-align: left;"
          >
            <div
              class="text-segment"
              name="textsegment_ce844629-089c-4da8-bbce-a819ffe00a1f"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >Página
            </div>
          </div>
          <div
            class="field"
            name="PAG2"
            style="font-weight: bold; font-size: 8px; font-family: Courier New; grid-area: PAG2; text-align: center;"
          >$PHYSICALPAGENUMBER
          </div>
          <div
            class="field"
            name="PAG1"
            style="font-weight: bold; font-size: 8px; font-family: Courier New; grid-area: PAG1; text-align: center;"
          >$TOTALPHYSICALPAGES
          </div>
          <div
            class="text"
            name="B_27"
            style="grid-area: B_27; text-align: center;"
          >
            <div
              class="text-segment"
              name="textsegment_6d17887b-bcbd-468d-a584-0812dbc091ea"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >/
            </div>
          </div>
          <div
            class="text"
            name="B_26"
            style="grid-area: B_26; text-align: left;"
          >
            <div
              class="text-segment"
              name="textsegment_aa2d413a-d231-4317-96e6-039c799351d2"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >Fecha
            </div>
          </div>
          <div
            class="field"
            name="FECHA1"
            style="font-weight: bold; font-size: 8px; font-family: Courier New; grid-area: FECHA1; text-align: left;"
          >27/07/2023
          </div>
          <div
            class="text"
            name="B_25"
            style="grid-area: B_25; text-align: left;"
          >
            <div
              class="text-segment"
              name="textsegment_6b4f3704-0580-4d42-9c19-7629072c5135"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >SEGURO
            </div>
          </div>
          <div
            class="text"
            name="B_24"
            style="grid-area: B_24; text-align: left;"
          >
            <div
              class="text-segment"
              name="textsegment_62dd243b-1f78-456a-940c-191e35febb68"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >Hora
            </div>
          </div>
          <div
            class="field"
            name="HORA1"
            style="font-weight: bold; font-size: 8px; font-family: Courier New; grid-area: HORA1; text-align: left;"
          >28/09/2021
          </div>
          <div
            class="text"
            name="B_23"
            style="grid-area: B_23; text-align: start;"
          >
            <div
              class="text-segment"
              name="textsegment_5e2b397a-9543-4b12-9435-a88c31626627"
              style="font-weight: bold; font-size: 10px; font-family: Courier New;"
            >860.034.313 - 7
            </div>
          </div>
          <div
            class="text"
            name="B_19"
            style="grid-area: B_19; text-align: left;"
          >
            <div
              class="text-segment"
              name="textsegment_91eac048-9a5e-43a4-9fa3-07647ea1485b"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >Núm.Cont.
            </div>
          </div>
          <div
            class="text"
            name="B_18"
            style="grid-area: B_18; text-align: left;"
          >
            <div
              class="text-segment"
              name="textsegment_235de4ad-690f-4d2e-ba21-069e659192eb"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >Cliente
            </div>
          </div>
          <div
            class="text"
            name="B_17"
            style="grid-area: B_17; text-align: left;"
          >
            <div
              class="text-segment"
              name="textsegment_e9679007-70a2-41e9-abd7-863643acebf7"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >Nombre del Cliente
            </div>
          </div>
          <div
            class="text"
            name="B_16"
            style="grid-area: B_16; text-align: center;"
          >
            <div
              class="text-segment"
              name="textsegment_7a777560-9242-43a5-891f-ab697fc433b3"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >Iniciación
            </div>
          </div>
          <div
            class="text"
            name="B_15"
            style="grid-area: B_15; text-align: center;"
          >
            <div
              class="text-segment"
              name="textsegment_fb08d78a-c7b3-434d-b844-d8696a0d58b8"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >Terminación
            </div>
          </div>
          <div
            class="text"
            name="B_14"
            style="grid-area: B_14; text-align: center;"
          >
            <div
              class="text-segment"
              name="textsegment_fe256bcb-39e6-4235-a084-8aaa8c6c4661"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >Monto
            </div>
          </div>
          <div
            class="text"
            name="B_13"
            style="grid-area: B_13; text-align: center;"
          >
            <div
              class="text-segment"
              name="textsegment_d48e757e-4c9d-41e4-9c34-904963429a00"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >Descripción
            </div>
          </div>
          <div
            class="text"
            name="B_12"
            style="grid-area: B_12; text-align: center;"
          >
            <div
              class="text-segment"
              name="textsegment_7f259b1c-5b59-48a9-a694-d71f152c2bfa"
              style="font-weight: bold; font-size: 8px; font-family: Courier New;"
            >No.Activo
            </div>
          </div>
          {{! Repeating frame starts }}
          {{!-- {{#each Q_2}}
                <div class="repeating-frame" name="R_2" style="margin-bottom: 1%; grid-area: R_2;">
                    <div name="R_2_repeat" style="grid-template-columns: 220fr; grid-template-rows: 1.1em; grid-template-areas: 'F_1'
                    ; display: grid;">
                        <img class="field" name="F_1" src="data:image/png;base64,{{LOGO}}" style="font-weight: bold; font-size: 10px; font-family: Courier New; grid-area: F_1; text-align: center;">
                        </img>
                    </div>
                </div>
                {{/each}} --}}
          {{! Repeating frame ends }}
        </div>
        <div class="section" name="trailer">
          <div class="body" name="body_4e065f3c-1558-4337-a187-1e22c1d598e3">
            <table class="table table-bordered">
              <tbody>
                {{#each Q_1}}
                  <tr>
                    <td
                      class="field"
                      name="F_INCCOL"
                      style="font-size: 8px; font-family: Courier New; grid-area: F_INCCOL; text-align: center;"
                    >{{F_INCCOL}}</td>
                    <td
                      class="field"
                      name="F_COLBEN"
                      style="font-size: 8px; font-family: Courier New; grid-area: F_COLBEN; text-align: center;"
                    >{{F_COLBEN}}</td>
                    <td
                      class="field"
                      name="F_NOMBRE"
                      style="font-size: 8px; font-family: Courier New; grid-area: F_NOMBRE; text-align: start;"
                    >{{F_NOMBRE}}</td>
                    <td
                      class="field"
                      name="F_COLFAPE"
                      style="font-size: 8px; font-family: Courier New; grid-area: F_COLFAPE; text-align: start;"
                    >{{F_COLFAPE}}</td>
                    <td
                      class="field"
                      name="F_COLFVEN"
                      style="font-size: 8px; font-family: Courier New; grid-area: F_COLFVEN; text-align: start;"
                    >{{F_COLFVEN}}</td>
                    <td
                      class="field"
                      name="F_COLMON"
                      style="font-size: 8px; font-family: Courier New; grid-area: F_COLMON; text-align: right;"
                    >{{F_COLMON}}</td>
                    <td
                      class="field"
                      name="F_INCCOD"
                      style="font-size: 8px; font-family: Courier New; grid-area: F_INCCOD; text-align: start;"
                    >{{F_INCCOD}}</td>
                    <td
                      class="field"
                      name="F_INCDES"
                      style="font-size: 8px; font-family: Courier New; grid-area: F_INCDES; text-align: start;"
                    >{{F_INCDES}}</td>

                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>